@media (max-width: 1280px) {
    .padding-box {
        padding-top: 50px;
    }

    .content-container {
        margin-top: 70px;
        margin-bottom: 50px;
    }
}


@media (max-width: 1045px) {

    /* reset- and forget-my-password-page */
    .width-password {
        width: 679px;
    }

    .less-margin {
        margin-top: 0;
    }
}


@media (max-width: 900px) {

    /* log in page */
    @keyframes fadeOut {
        from {
            background-color: #2A3647;
            z-index: 2;
        }

        to {
            background-color: transparent;
            z-index: 0;
        }
    }

    .hide-mobile {
        display: none;
    }

    .hide {
        display: block;
    }

    .icon-white {
        height: 200px;
        position: fixed;
        animation: rollOverWhite 500ms forwards;
    }

    .icon-container img {
        height: 80px;
        width: 80px;
        object-fit: contain;
    }

    @keyframes rollOverWhite {
        from {
            top: 50%;
            left: 50%;
            transform: scale(1);
            opacity: 1;
            z-index: 3;
        }

        to {
            top: 0;
            left: 10%;
            transform: scale(0.5);
            opacity: 0;
            z-index: 0;
        }
    }

    .content-container {
        width: 372px;
        height: 487px;
        margin-top: 85px;
    }

    .headline {
        font-size: 47px;
    }

    .input {
        width: 327px;
        height: 20px;
        background-position: 330px 10px;
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .click-me {
        top: -14%;
        left: 42%;
    }

    .click-me-two {
        top: -14%;
        left: 42%;
    }

    .settings-container {
        width: 95%;
        flex-direction: column-reverse;
        margin-top: 45px;
    }

    .settings-container span {
        margin-bottom: 26px;
    }

    .remember-me {
        margin-left: -5px;
    }

    .remember-me label {
        margin-left: 20px;
    }

    .uncheck-me {
        left: 1%;
    }

    .btn-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .btn-container button {
        margin-bottom: 20px;
    }

    .header-container {
        justify-content: center;
        transform: translateY(1955%);
    }

    .headline-mobile {
        font-size: 40px;
        text-align: center;
    }

    .height-mobile {
        height: 502px;
    }

    .icon-container {
        width: 460px;
        margin-top: -57px;
    }

    .margin-top-button {
        margin-top: 40px;
    }
}


@media (max-width: 480px) {

    /* login-page */
    @keyframes rollOver {
        from {
            top: 50%;
            left: 50%;
            transform: scale(1);
            opacity: 1;
            z-index: 3;
        }

        to {
            top: 0;
            left: -3%;
            transform: scale(0.5);
            opacity: 0;
            z-index: 0;
        }
    }

    .icon-container {
        width: 340px;
        margin-top: -50px;
    }

    .content-container {
        width: 250px;
    }

    .input {
        width: 200px;
        background-position: 200px 10px;
    }

    .click-me {
        left: 36%;
        top: -13.5%;
    }

    .click-me-two {
        left: 36%;
        top: -13.5%;
    }

    .header-container {
        transform: translateY(1930%);
    }

    .width-btn {
        width: 240px;
    }
}