/* font for project: inter */
/* inter-100 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  src: url('./assets/fonts/inter-v12-latin-100.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('./assets/fonts/inter-v12-latin-100.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./assets/fonts/inter-v12-latin-100.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('./assets/fonts/inter-v12-latin-100.woff') format('woff'),
    /* Modern Browsers */
    url('./assets/fonts/inter-v12-latin-100.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('./assets/fonts/inter-v12-latin-100.svg#Inter') format('svg');
  /* Legacy iOS */
}

/* inter-200 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: url('./assets/fonts/inter-v12-latin-200.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('./assets/fonts/inter-v12-latin-200.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./assets/fonts/inter-v12-latin-200.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('./assets/fonts/inter-v12-latin-200.woff') format('woff'),
    /* Modern Browsers */
    url('./assets/fonts/inter-v12-latin-200.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('./assets/fonts/inter-v12-latin-200.svg#Inter') format('svg');
  /* Legacy iOS */
}

/* inter-300 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/inter-v12-latin-300.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('./assets/fonts/inter-v12-latin-300.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./assets/fonts/inter-v12-latin-300.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('./assets/fonts/inter-v12-latin-300.woff') format('woff'),
    /* Modern Browsers */
    url('./assets/fonts/inter-v12-latin-300.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('./assets/fonts/inter-v12-latin-300.svg#Inter') format('svg');
  /* Legacy iOS */
}

/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/inter-v12-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('./assets/fonts/inter-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./assets/fonts/inter-v12-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('./assets/fonts/inter-v12-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('./assets/fonts/inter-v12-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('./assets/fonts/inter-v12-latin-regular.svg#Inter') format('svg');
  /* Legacy iOS */
}

/* inter-500 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/inter-v12-latin-500.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('./assets/fonts/inter-v12-latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./assets/fonts/inter-v12-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('./assets/fonts/inter-v12-latin-500.woff') format('woff'),
    /* Modern Browsers */
    url('./assets/fonts/inter-v12-latin-500.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('./assets/fonts/inter-v12-latin-500.svg#Inter') format('svg');
  /* Legacy iOS */
}

/* inter-600 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/inter-v12-latin-600.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('./assets/fonts/inter-v12-latin-600.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./assets/fonts/inter-v12-latin-600.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('./assets/fonts/inter-v12-latin-600.woff') format('woff'),
    /* Modern Browsers */
    url('./assets/fonts/inter-v12-latin-600.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('./assets/fonts/inter-v12-latin-600.svg#Inter') format('svg');
  /* Legacy iOS */
}

/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/inter-v12-latin-700.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('./assets/fonts/inter-v12-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./assets/fonts/inter-v12-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('./assets/fonts/inter-v12-latin-700.woff') format('woff'),
    /* Modern Browsers */
    url('./assets/fonts/inter-v12-latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('./assets/fonts/inter-v12-latin-700.svg#Inter') format('svg');
  /* Legacy iOS */
}

/* inter-800 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('./assets/fonts/inter-v12-latin-800.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('./assets/fonts/inter-v12-latin-800.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./assets/fonts/inter-v12-latin-800.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('./assets/fonts/inter-v12-latin-800.woff') format('woff'),
    /* Modern Browsers */
    url('./assets/fonts/inter-v12-latin-800.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('./assets/fonts/inter-v12-latin-800.svg#Inter') format('svg');
  /* Legacy iOS */
}

/* inter-900 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url('./assets/fonts/inter-v12-latin-900.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('./assets/fonts/inter-v12-latin-900.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./assets/fonts/inter-v12-latin-900.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('./assets/fonts/inter-v12-latin-900.woff') format('woff'),
    /* Modern Browsers */
    url('./assets/fonts/inter-v12-latin-900.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('./assets/fonts/inter-v12-latin-900.svg#Inter') format('svg');
  /* Legacy iOS */
}

:root {
  --lightblue: #29ABE2;
  --darkblue: #2A3647;
  --gray-hover: #A8A8A8;
  --gray-inactive: #CDCDCD;
  --gray-progressbar: #F4F4F4;
  --lightgray: #D1D1D1;
  --activeblue: #091931;
  --prio-low-green: #7AE229;
  --prio-medium-orange: #FFA800;
  --prio-urgent-red: #FF3D00;
  --purple: #da70d6;
  --green: #20b2aa;
}

button,
input,
textarea,
select {
  font: inherit;
}

body {
  background-color: #F6F7F8;
  margin: 0;
  font-family: 'Inter';
}

.d-none {
  display: none !important;
}

.headline {
  font-size: 61px;
  font-weight: 700;
}

.sub-headline {
  font-size: 27px;
  font-weight: 400;
}


.bg-dark-blue {
  background-color: #2A3647;
}

.bg-white {
  background-color: white;
}

.text-dark-blue {
  color: #2A3647;
}

.text-white {
  color: white;
}

.text-dark-blue {
  color: #2A3647;
}

.text-21-black {
  color: #000;
  font-weight: 400;
  font-size: 21px;
}

.text-64-600-black {
  color: #000;
  font-weight: 600;
  font-size: 64px;
}

.text-47-600-black {
  color: #000;
  font-weight: 600;
  font-size: 47px;
}

.text-21-400-black {
  color: #000;
  font-weight: 400;
  font-size: 21px;
}

.text-21-700-black {
  color: #000;
  font-weight: 700;
  font-size: 21px;
}

.text-16-700-black {
  color: var(--darkblue);
  font-weight: 700;
  font-size: 16px;
}

.text-16-400-black {
  color: #000;
  font-weight: 400;
  font-size: 16px;
}

.hide-text {
  display: none;
}