<div class="navbar-left bg-dark-blue">
   <img id="logo" src="./assets/img/navbar/logo-brand.svg" alt="">

   <ul>
      <li>
         <a id="navSummary" href="summary.html">
            <img src="./assets/img/navbar/icon-summary.svg" alt="">
            <span>Summary</span>
         </a>
      </li>
      <li>
         <a id="navBoard" href="board.html">
            <img src="./assets/img/navbar/icon-board.svg" alt="">
            <span>Board</span>
         </a>
      </li>
      <li>
         <a id="navAddTask" href="add_task.html">
            <img src="./assets/img/navbar/icon.Add-Task.svg" alt="">
            <span>Add Task</span>
         </a>
      </li>
      <li>
         <a id="navContact" href="#">
            <img src="./assets/img/navbar/icon-contacts.svg" alt="">
            <span>Contacts</span>
            <span class="tooltip">Coming soon</span>
         </a>
      </li>
   </ul>

   <div class="legal">
      <a href="legal_notice.html">
         <img src="./assets/img/navbar/icon-info.svg" alt="">
         <span>Legal notice</span>
      </a>
   </div>
</div>

<!-- resposive Navbar bottom -->
<div class="navbar-bottom bg-dark-blue">
   <ul>
      <li>
         <a id="navSummary-bottom" href="summary.html">
            <img src="./assets/img/navbar/icon-summary.svg" alt="">
            <span>Summary</span>
         </a>
      </li>
      <li>
         <a id="navBoard-bottom" href="board.html">
            <img src="./assets/img/navbar/icon-board.svg" alt="">
            <span>Board</span>
         </a>
      </li>
      <li>
         <a id="navAddTask-bottom" href="add_task.html">
            <img src="./assets/img/navbar/icon.Add-Task.svg" alt="">
            <span>Add Task</span>
         </a>
      </li>
      <li>
         <a class="commingSoon" text="coming soon" id="navContact-bottom" href="#">
            <img src="./assets/img/navbar/icon-contacts.svg" alt="">
            <span class="commingSoon">Contacts</span>
            <span class="tooltip-bottom">Coming soon</span>
         </a>
      </li>
   </ul>


</div>